[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oauthlib = "==3.2.2"
requests = "==2.32.2"
requests-oauthlib = "==2.0.0"
sentry-sdk = "==2.18.0"

[dev-packages]

[requires]
python_version = "3.11"
